<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;450;500;600;700;800&display=swap" rel="stylesheet" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["MediPrax.Server.styles.css"]" />
    <link rel="icon" type="image/svg+xml" href="/images/logo-mediprax-icon.svg" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/logo-mediprax-icon-32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/logo-mediprax-icon-16.png" />
    <link rel="apple-touch-icon" sizes="192x192" href="/images/logo-mediprax-icon-192.png" />
    <ImportMap />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
